<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container" style="padding-left: 30%">
<div class="card" style="width: 40%;box-shadow: 2px 2px 2px 2px #7a7a7a;">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="tryRegister(form.value)">
      <h1 style="text-align: center"><b>Register</b></h1>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" formControlName="email" >
      </div>

      <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control"  name="password" formControlName="password" >
        </div>
       <button [disabled]="form.invalid" type="submit" class="btn btn-primary"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;Register Neutron Account</button>

       
       
        </form>
      </div>
      </div>
    </div>
        <router-outlet></router-outlet>